.SamPersianCalendar {
    direction: rtl;
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 5px;
    font-family: system-ui;
    font-weight: bold;
    display: none;
    transition: 500ms;
}

.SamPersianCalendar table tr td {
    padding: 1px 5px;
    margin: 1px;
    border: 1px solid silver;
}

.SamPersianCalendar_previous {
    float: left;
}

.SamPersianCalendar_next {
    float: right;
}

.SamPersianCalendar_year {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.SamPersianCalendar_Day {
    cursor: pointer;
    text-align: center;
}

.SamPersianCalendar_Day_closed {
    background-color: red;
    color: white;
}

.SamPersianCalendar_Day_open {
    background-color: lavenderblush;
}

.SamPersianCalendar_Day_mark_Selected_Day {
    background-color: #9999ff88;
    border-radius: 50%;
}
.SamPersianCalendar button {
    font-family: fantasy;
    font-size: 16px;
}